<div class="signin">
    <div>
        <div class="title">
            Mimosa Console - Prototype 0.1
        </div>
        <div class="box">
            <form role="form">
            <div class="form-group">
                <div class="input-label">User Name:</div>
                <input type="text"
                       class="form-control"
                       ng-model="user.userName"
                       placeholder="Someone@somewhere.somthing"
                       autofocus/>
            </div>
            <button class="btn btn-default btn-block" ng-click="signIn()">
                Sign In
            </button>
                </form>
        </div>
    </div>
</div>