<div class="modal-header">
    <div class="modal-title">Save Slice</div>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="sliceName">Name:</label>
        <input type="text" class="form-control" ng-model="sliceName" id="sliceName" placeholder="Set the slice name">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>
